.employees {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 120px 20px 120px 20px;
}

.employees .employee_details {
    position: relative;
    background-color: white;
    max-width: 70%;
    margin: 15px 0 0 30px;
    padding: 20px 0 20px 0;
    border-radius: 20px;
}

.employees .employee_details {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.employee_details div:nth-child(1) {
    padding: 15px 10px 0 20px;

}

.employee_details div:nth-child(1) > * {
    padding-bottom: 15px;
    font-size: 1.5rem;
}

.employee_details div:nth-child(2) {
    position: relative;
    right: -80px;
    background-color: black;
    border-radius: 50%;
}

.employees .contact_us {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    border-left: 3px solid;
    background-color: white;
}

.employees .contact_us {
    display: grid;
    justify-items: center;
    align-items: center;
}

.contact_us button {
    width: 80%;
    padding: 20px 0;
    color: whitesmoke;
    font-size: larger;
    font-style: oblique;
    font-weight: 700;
    background-color: blue;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

dialog {
    margin: auto;
    width: 400px;
    border: none;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}

form {
    display: grid;
    grid-template-rows: repeat(7, auto);
    margin: 40px 20px ;
}

form input,
form label {
    color: var(--nav-color);
    width: 100%;
    height: auto;
    padding: 8px;
    font-family: var(--nav-font);
}

form legend {
    margin: 0 auto;
    color: blue;
    font-weight: 600;
}

form button {
    margin-top: 20px;
    padding: 8px;
    border-radius: 30px;
    border: none;
    background-color: blue;
    color: whitesmoke;
    font-weight: 400;
    cursor: pointer;
}