.employees {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 120px 20px 120px 20px;
}

.employees .employee_details {
    position: relative;
    background-color: white;
    max-width: 70%;
    margin: 15px 0 0 30px;
    padding: 20px 0 20px 0;
    border-radius: 20px;
}

.employees .employee_details {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.employee_details div:nth-child(1) {
    padding: 15px 10px 0 20px;

}

.employee_details div:nth-child(1) > * {
    padding-bottom: 15px;
    font-size: 1.5rem;
}

.employee_details div:nth-child(2) {
    position: relative;
    right: -80px;
    background-color: black;
    border-radius: 50%;
}

.employees .contact_us {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    border-left: 3px solid;
    background-color: white;
}

.employees .contact_us {
    display: grid;
    justify-items: center;
    align-items: center;
}

.contact_us button {
    width: 80%;
    padding: 20px 0;
    color: whitesmoke;
    font-size: larger;
    font-style: oblique;
    background-color: blue;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}