.content_menu {
    padding: 20px;    
}

.content_menu {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 30%)); */
    grid-template-columns: repeat(auto-fit, minmax(30%, 2fr) );
    gap: 20px;
    background-color: blueviolet;
}

.food_card {
    min-height: 200px;
    background-color: brown;
}

.food_card {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.food_card div:nth-child(2) {
    background-color: black;
}