.content_menu {
    padding: 120px 20px 120px 20px;    
}

.content_menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 2fr));
    gap: 20px;
    background-color: whitesmoke;
}

.food_card {
    min-height: 200px;
    background-color: white;
    border: 1px solid;
}

.food_card {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.food_card div:nth-child(1) {
    padding: 15px 10px 0 20px;
}

.food_card div:nth-child(1) > * {
    padding-bottom: 15px;
    font-size: 1.5rem;
}

.food_card div:nth-child(1) p:nth-child(3) {
    padding-bottom: 0;
    padding-top: 15px;
    font-size: 2.0rem;
}

.food_card div:nth-child(2) img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1;
}
