* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
}

header {
    position: fixed;
    width: 90%;
}

header > nav {
    width: 100%;
    margin: 0 auto;
    background-color: blue;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

nav button {
    width: 7rem;
    height: 2.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.content_home {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-image: url(./images/home_image_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.content_home h1 {
    font-size: 2.5rem;
}

.content_home h2 {
    font-size: 1.5rem;
}

.content_home h3 {
    font-size: 0.5rem;
}

.content_home div {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.content_home div svg {
    width: 2.5rem;
}

.content_home > * {
    color: blue;
    background-color: whitesmoke;
    margin-left: 20%;
    opacity: 0.5;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 1.5rem 0;
}

footer {
    position: fixed;
    bottom: 0;
}

svg {
    width: 3rem;
    fill: blue;
    cursor: pointer;
}
