* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
}

header {
    max-width: 100%;
}

header > nav {
    width: 100%;
    margin: 0 auto;
    background-color: blue;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

nav button {
    width: 7rem;
    height: 2.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.content_home {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/home_image_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.content_home h1 {
    font-size: 2.5rem;
}

.content_home h2 {
    font-size: 1.5rem;
}

.content_home h3 {
    font-size: 0.5rem;
}

.content_home > * {
    color: blue;
    background-color: whitesmoke;
    margin-left: 20%;
    opacity: 0.5;
    width: 100%;
}

